.my-theme {
    /*backgrounds*/
    --background-color-aside:#31572C;
    --background-color-main: #4F772D;

    /*text*/
    --color-aside-primary: #ECF39E;
    --color-aside-secondary: #132A13;
    --color-light: #e7e7e7;
    --color-main: #bfe0bf;
}