.main-theme{
    /*backgrounds*/
    --background-color-aside:#86A3B4;
    --background-color-main: #fff;

    /*text*/
    --color-aside-primary: #fff;
    --color-aside-secondary: #1C2E8C;
    --color-light: #263036;
    --color-main: #1E1E1E;
}