.main-theme {
    /*backgrounds*/
    --background-color-aside:#86A3B4;
    --background-color-main: #fff;
    /*text*/
    --color-aside-primary: #fff;
    --color-aside-secondary: #1C2E8C;
    --color-light: #263036;
    --color-main: #1E1E1E;
  }
  
  .my-theme {
    /*backgrounds*/
    --background-color-aside:#8E6C88;
    --background-color-main: #D3B7CE;
    /*text*/
    --color-aside-primary: #CCDBDC;
    --color-aside-secondary: #400836;
    --color-light: #2b2727;
    --color-main: #263D42;
  }
  
  @keyframes slide-mainSection {
    from {
      transform: translateY(20%);
      opacity: 0;
    }
    to {
      transform: translateY(0%);
      opacity: 1;
    }
  }
  /*border*/
  /*font*/
  /*text-decor*/
  /*spaces*/
  @media screen and (max-width: 550px) {
    .main {
      display: flex;
      flex-direction: column;
      border: none;
    }
    .work-info {
      width: 100%;
    }
    .personal-info {
      width: 100%;
    }
  }
  @media screen and (min-width: 550px) {
    .personal-info {
      border-right: #1e1e1e solid 1px;
    }
    .box-shadow {
      box-shadow: 1px 0px 13px 7px rgba(80, 75, 75, 0.25);
    }
    .image-main-photo:hover {
      width: 110%;
      box-shadow: 2px 2px 5px rgb(92, 69, 219);
    }
  }
  * {
    margin: 0;
    padding: 0;
  }
  
  .main {
    width: 100vw;
    font-family: "Inter", sans-serif;
    display: grid;
    grid-template-columns: 1fr 2.1fr 3fr;
    gap: 4px;
  }
  
  .personal-info {
    font-weight: 600;
    height: 100%;
    animation-name: slide-mainSection;
    animation-duration: 2s;
    animation-delay: 0s;
    z-index: 1;
    background-color: var(--background-color-aside);
  }
  
  .box-shadow {
    padding-top: 56px;
  }
  
  .padding-left {
    padding-left: 36px;
  }
  
  .padding-workInfo {
    padding: 0 36px;
  }
  
  .name {
    font-size: 40px;
    line-height: 48px;
    padding-bottom: 36px;
    color: var(--color-aside-primary);
  }
  
  .surname {
    margin: 0;
    color: var(--color-aside-secondary);
  }
  
  .link-HireMe {
    font-size: 40px;
    color: var(--color-aside-primary);
  }
  .link-HireMe:visited {
    color: var(--color-aside-secondary);
  }
  .link-HireMe:hover {
    text-decoration: none;
  }
  
  .image-main-photo {
    width: 100%;
    transition: width 2s;
  }
  
  .contact {
    color: var(--color-light);
    padding-top: 36px;
    padding-bottom: 36px;
  }
  
  .title_personalInfo {
    font-size: 32px;
    border-bottom: 6px #1e1e1e solid;
    width: 80%;
    padding-bottom: 16px;
    margin: 0;
    color: var(--color-light);
  }
  
  .content-contact {
    display: flex;
    flex-direction: column;
    gap: 36px;
    padding-top: 24px;
  }
  
  .content-contact-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .title-content-contact {
    margin: 0;
    font-size: 24px;
  }
  
  .text-content-contact {
    font-size: 16px;
    margin: 0;
  }
  
  .link {
    color: var(--color-aside-secondary);
  }
  
  .content-languages {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 24px;
    padding-bottom: 56px;
  }
  
  .text-content-languages {
    margin: 0;
    font-size: 20px;
    color: var(--color-main);
  }
  
  .work-info {
    background-color: var(--background-color-main);
    display: flex;
    flex-direction: column;
    gap: 36px;
    animation-name: slide-mainSection;
    animation-duration: 2s;
    animation-delay: 0.5s;
  }
  
  .title-workInfo {
    padding-right: 56px;
    font-weight: 600;
    font-size: 32px;
    color: var(--color-main);
    border-bottom: 6px #1e1e1e solid;
    padding-bottom: 24px;
    margin: 0;
    line-height: 48px;
  }
  
  .text-workInfo {
    margin: 0;
    color: var(--color-light);
    font-weight: 600;
    font-size: 16px;
  }
  
  .flexGap {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  
  .summary {
    padding-top: 36px;
  }
  
  .skills-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  
  .skills-list-container {
    width: 50%;
    padding-left: 16px;
  }
  
  .experience {
    font-size: 16px;
    line-height: 18px;
  }
  
  .content-experience {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .small-text {
    font-weight: 400;
    color: var(--color-light);
  }
  
  .previous-job {
    opacity: 0.7;
  }
  
  .previous-job:hover {
    animation: opacityText 5s ease-in-out;
  }
  
  @keyframes opacityText {
    0% {
      opacity: 0.7;
    }
    25% {
      opacity: 0.8;
    }
    50% {
      opacity: 0.9;
    }
    100% {
      opacity: 1;
    }
  }
  .boldText {
    font-weight: 600;
    color: var(--color-main);
  }
  
  .education {
    padding-bottom: 36px;
  }
  
  .text-education {
    font-size: 16px;
    line-height: 18px;
  }
  
  /*Hireme styles
  
  .HireMe-main{
      max-width: 1024px;
      font-family: 'IBM Plex Sans', sans-serif;
      height: 708px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      animation: hireMe-animation 1s linear;
  }
  
  @keyframes hireMe-animation {
      from {
          scale: 200%;
          opacity: 0;
      }
      to {
          scale: 100%;
          opacity: 1;
      }
  }
  
  input,
  textarea,
  select{
      appearance: none;
      background-color: transparent;
      margin: $zero-space;
      padding: $zero-space;
      border: none;
  }
  
  .table-HireMe {
      border-spacing: $zero-space;
      border-collapse: collapse;
  
      th{
          border: $bd-color $bd-small solid;
          padding: 10px 10px;
          text-align: center;
          font-weight: $boldtext;
      }
  
      td{
          border: $bd-color $bd-small solid;
          padding: 10px 10px;
          text-align: center;
      }
  }
  
  .fieldset-HireMeInfo{
      display: flex;
      flex-direction: column;
      gap: $m-space;
      padding: $zero-space $s-space;
      font: {
          weight: $regulartext;
          size: $s-text;
      }
      color: #6F7482;
      letter-spacing: 0.01em;
  
      div{
          display: flex;
          flex-direction: column;
          gap: 2px;
      }
  }
  
  legend{
      color: #000;
  }
  
  .form-field{
      background-color: #F8FAFC;
      border-radius: 4px;
      width: 460px;
      border: none;
      padding: $s-space;
      color: #3B4256;
      font: {
          weight: $regulartext;
          size: $s-text;
      }
      line-height: 150%;
      border: none;
      outline: none;
  
      &::placeholder{
          color: #B8BCCA;
      }
  
      .email-input,
      .WorkType{
          letter-spacing: 0.01em;
      }
  
      &:focus{
          border: $bd-small solid #0048D9;
      }
  }
  
  .email-input:invalid{
      border: $bd-small solid #ED0131;
  
  &:valid{
      border: $bd-small solid #0E6245;
  }
  }
  
  .error,
  .success{
      display: none;
      font-size: $xs-text;
      margin: $zero-space;
      padding-top: 2px;
  }
  
  .error{
      color: #ED0131;
  }
  
  .email-input:invalid + .error{
      display: block;
  }
  
  .email-input:valid + .success{
      display: block;
  }
  
  
  .red-symbol{
      color: red;
  }
  
  .description-textarea{
      min-height: 140px;
  }
  
  .WorkType{
      background: url(./mdi_arrow_drop_down.svg) no-repeat center right 24px;
      background-color: #F8FAFC;
      width: 490px;
  }
  
  .HireMeButton{
      padding: $s-space;
      border-radius: $bd-big;
      color: #FFFFFF;
      font: {
          weight: $boldtext;
          size: $s-text;
      }
      cursor: pointer;
  
      &:enabled{
          background-color: #0048D9;
      }
  
      &:hover{
          background-color: #002266; 
      }
  
      :disabled{
          background-color: #84a9f3;
      }
  }
  *//*# sourceMappingURL=styles.css.map */